@page "/mascotas/details/{PetId:int}"


@if (loading)
{
    <Loading />
}
else
{
    <div class="row justify-content-center">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-github" /> @pet!.Name
                    </span>
                </div>
                <div class="card-body">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6">
                            <img class="card-img-top border-dark border-1 img-fluid" src="@pet.Image" alt="@pet.Name" />
                        </div>
                        <div class="col-md-6">
                            <h5 class="display-5 fw-bolder">@pet.Name</h5>
                            <div class="fs-6 mb-3">
                                <span>Raza: @pet.Raza</span>

                                <span>Edad: @pet.Edad</span>
                            </div>
                            <div class="fs-6 mb-5">
                                <span>@($"Bs/ {pet.Price:0.00}")</span>

                                <span>Genero: @pet.GeneroDisplay</span>
                            </div>
                            <p class="lead fs-6">@pet.Description</p>
                            <div class="d-flex">
                                <button class="btn btn-sm btn-info flex-shrink-0 me-3"><i class="bi bi-check-circle me-1" /> Adoptar</button>
                                <button class="btn btn-sm btn-primary flex-shrink-0 me-3" @onclick=@(() => AddToCartAsync(pet.Id))><i class="bi bi-heart-fill me-1" /> Add favorito</button>
                                <a class="btn btn-sm btn-success flex-shrink-0" href="/destacados">
                                    <i class="bi bi-arrow-left me-1" /> Volver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}